body > div.header {
	background: url('/img/websozai/himawari_no_kobeya/plflo54.jpg') no-repeat, 
	linear-gradient(90deg, white 40%, transparent 100%),
	url('/img/bg/b125.jpg');
}

body > div.body > div.navi,
body > div.body > div.migi,
body > div.footer {
	background: url('/img/bg/b125.jpg');	
}

div[class^='hantyuu_']{
	color: #ca0f6f;
	background: linear-gradient(50deg, #ffe5ea, #ffc4ff);
	text-shadow: 1px 1px 1px white, 1px 1px 5px white;
}

div.hantyuu_all,
div.hantyuu_bungakukei,
div.hantyuu_sityoukei,
div.hantyuu_souhoukei {
	background: #825e5e;
	color: white;
	text-shadow: 1px 1px 1px #622139;
	font-weight: bold;
}

div.info {
	background-color: hsl(332, 90%, 61%);
	color: #fff;
}

.koumoku:nth-child(2n),
.hannyou[class*=type_1],
.hannyou[class*=type_2],
.hannyou[class*=type_3],
.hannyou[class*=type_4],
.hannyou[class*=type_5],
.hannyou[class*=type_6],
.hannyou[class*=type_7],
.hannyou[class*=type_8],
.hannyou[class*=type_9] {
	background-color: hsl(332, 70%, 90%);
	color: hsl(338, 88%, 52%);
}

.koumoku:nth-child(2n+1) {
	background-color: hsl(332, 100%, 97%);
	color: hsl(338, 88%, 52%);
}